@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Pathway Gothic One');


.grass {
    color: white;
    font-family: Abel;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    clear: both;
    background-size: cover;
    z-index: -1;
    margin: 0px;
    border: 0px;
}

.title {
    text-align: center;
    font-size: 7vw;
    color: white;
    position: absolute;
    z-index: 2;
    transform: translateX(16vw) translateY(-29vw);
}

.subtitle {
    text-align: center;
    font-size: 2.8vw;
    color: white;
    position: absolute;
    z-index: 2;
    transform: translateX(13vw) translateY(-18vw);
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1vw 3.4vw;
    text-decoration: none;
    text-decoration: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.navigation{
    margin-top: 0px;
    font-family: Abel;
}

.pagetitles{
    font-family: Abel;
    text-align: left;
    margin-top: 50px; 
    text-align: center;
    margin-left: 50px;
    font-size: 40px;

}
#bottomnavbar{
    margin-top: 50px;
}