body {
    font-family: Abel, sans-serif;
}
.titless{
    margin-top: 0.6vw;
    margin-bottom: 0vw;
}

h1 {
    text-align: center;
    font-size: 3vw;
    margin-top: 3vw;
}

#container {
    margin: auto;
}


#dates {
    font-size: 2vw;
    padding: 3.5vw;
}

#dataentries {
    font-size: 1.5vw;
}

#help {
    font-size: 1.2vw;
    width: 16vw;
    margin: auto;
}

a {
    color: #66b7a9;
}

a:hover {
    font-weight: bold;
}

#rafts {
    background-color: #ceeee2;
    padding: 5vw;
    text-align: center;
}

#eggs {
    background-color: #cae7c4;
    padding: 5vw;
    text-align: center;
}

#total {
    background-color: #c4e7d0;
    padding: 5vw;
    text-align: center;
}

#species {
    background-color: #c6ece8;
    padding: 5vw;
    text-align: center;
}

#humid{
    display: inline-block;
}
#temp{
    display: inline-block;
}
#rain{
    display: inline-block;
}


#last{
    margin-left: 15vw;
}

#submitbutton{
    margin-left:50vw;
    font-family: Abel;
    font-size: 2vw;
}