@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Pathway Gothic One');

#map {
    width: 50%;
    height: 50vw;
    margin-left: 25vw;
    margin-bottom: 0vw;
}

#logo{
    transform: translateY(-40vw) translateX(20vw);
    width: 20vw;
}
.mapback{
    background-color: #c6ece8;
}
.grass {
    color: white;
    font-family: Abel;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    clear: both;
    background-size: cover;
    z-index: -1;
    margin-bottom: 0vw;
    border: 0px;
    height: 37vw;
}

.title {
    font-size: 7vw;
    color: white;
    position: absolute;
    z-index: 2;
    transform: translateX(45vw) translateY(-29vw);
}

.subtitle {
    text-align: center;
    font-size: 2.8vw;
    color: white;
    position: absolute;
    z-index: 2;
    margin-top: 0vw;
    margin-bottom:3vw;
    transform: translateX(13vw) translateY(-12vw);
}
#secondline{
    text-align: center;
    font-size: 2.8vw;
    color: white;
    z-index: 2;
    margin-top:2vw;
    transform: translateX(0vw) translateY(-10vw);
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    float: left;
}
a{
    text-decoration: none;
}

li a {
    display: block;
    font-size: 1.4vw;
    color: white;
    text-align: center;
    padding: 1vw 3.5vw;
    text-decoration: none;
    text-decoration: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.navigation{
    margin-top: 0px;
    font-family: Abel;
}

.pagetitles{
    font-family: Abel;
    text-align: left;
    margin-top: 3vw; 
    text-align: center;
    margin-left: 0;
    font-size: 5vw;

}
#bottomnavbar{
    margin-top: 50px;
}



.mission{
    text-align: center;
    font-family: Abel;
    width: 20vw;
    margin-left: 1.5vw;
    font-size:1.7vw;
}
#titlemission{
    font-style: bold;
}
.text_box{
    padding-top: 1vw;
    width: 23vw;
    transform: translateY(-50vw);
    height: 30vw;
}
#indexbutton {
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    font-size: 1.5vw;
    border: none;
    color: black;
    padding: 1vw;
    background-color: #63cbc0;
    text-align: center;
    display: inline-block;
    border-radius: 1vw;
    transform: translateX(2vw);
}

#indexbutton:hover {
    background-color: white;